.nav-pills .nav-link.active {
    background-color: #76c38f;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #76c38f;
    border-radius: 10px;
    color: #fff;
}

@media (max-width: 991px) {

    .nav-pills {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .nav-pills {
        text-align: center;
    }

    .nav-pills li {
        width: 100%;
    }

}

