.height-5-px {
    height: 5px;
}

.min-height-220-px {
    min-height: 220px;
}

.color-white {
    color: #fff;
}

.bg-brown {
    background-color: #290000;
}

.bg-color-green {
    background-color: #76c38f;
}

.pt-30-px {
    padding-top: 30px;
}

.mb-30-px {
    margin-bottom: 30px;
}

.font-size-11-px {
    font-size: 11px;
}

.font-size-12-px {
    font-size: 12px;
}

.font-size-13-px {
    font-size: 13px;
}

.font-size-14-px {
    font-size: 14px;
}

.font-size-28-px {
    font-size: 28px;
}

.font-size-46-px {
    font-size: 46px;
}

.color-grey {
    color: #979797;
}

.bg-light-black {
    background-color: #353535;
}

.bg-black {
    background-color: #151515;
}

.border-20-px {
    border: 20px solid #6b6b6b;
}

.border-white-5-px {
    border: 5px solid #fff;
}

.b-radius-50 {
    border-radius: 50%;
}